.scaleBtn {
    transform-origin: top center;
    animation: transform 1.8s linear infinite forwards;

}
     @keyframes transform {
            0% {
                transform: rotate(0deg);
            }
            25% {
                transform: rotate(20deg);
            }
            50% {
                transform: rotate(0deg);
            }
            75% {
                transform: rotate(-20deg);
            }
            100% {
                transform: rotate(0deg);
            }
        }
        @keyframes  translation {
            0% {
                left:-100%;
            }
            100%{
                left:100%;
            }
        }